/* CONTEÚDO PRINCIPAL */

/* Primeiro banner */

.banner-principal {
    color: var(--branco);

    height: 70vh;

    background-image: url(../imgs/banner-principal-home.png);
    background-size: cover;
    /* background-repeat: no-repeat; */

    /* overflow: hidden; evita que os elementos transbordem */

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 120px;
}

.texto-banner {
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}


.texto-banner p {
    font-size: 1.5em;
    width: 60%;

}

.botao {
    padding: 20px 50px;

    border-radius: 10px;

    background-color: var(--cor-destaque);
    color: var(--azul-escuro);

    font-size: 1.2em;
    font-weight: 700;

    text-transform: uppercase;
}

.botao:hover {
    background-color: #2AB2AB;
    color: var(--branco);
}

.banner-principal img {
    align-self: flex-end;
    width: 35%;
}

/* Título Seções */

.titulo-secao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.titulo-secao span {
    display: flex;
    width: 250px;
    height: 4px;
    background-color: var(--cor-destaque);
}

/* Seção Benefícios */

.beneficios {
    padding: 50px 120px;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: space-between;

    gap: 100px;
}

.beneficios-lista {
    display: grid;

    grid-template-columns: repeat(3, 20%);

    gap: 10%;

    justify-content: center;
}

.beneficio {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    padding: 80px 20px 50px;
    /* em cima -> direita e esquerda -> embaixo */

    border: 1px solid var(--azul-escuro);
    border-radius: 30px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
    /* x -> y -> blur(desfoque) -> cor com transparência */

    text-align: center;

    /* Cria referência de posicionamento para o ícone, quando o ícone for posicionado, usa esse card como referência */
    /* Sem isso, o círculo poderia usar outro elemento da página como referência e sair passeando pelo layout. */
    position: relative;
}

.beneficio-icone img {
    width: 50%;
}

.beneficio-icone {
    border: 4px solid var(--cor-destaque);
    background-color: var(--branco);

    border-radius: 50%;

    width: 30%;
    height: 30%;

    /* Retira o ícone do fluxo normal, com o absolute ele pode ficar por cima do card */
    position: absolute;

    /* Move o elemento para cima, o valor negativo faz ele sair parcialmente do card */
    top: -15%;

    /* Coloca o começo do elemento em 50% da largura do card. */
    left: 50%;

    /* Ajustado o posicionamento do elemento, mas a borda esquerda do circulo fica no centro, não o círculo inteiro */
    transform: translateX(-50%);

    /* place-items: center; é a mesma coisa que colocar: align-items: center; e justify-items: center; */
    display: grid;
    place-items: center;
}

.beneficio h3 {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-transform: uppercase;
    width: 90%;
}

.beneficio p {
    font-size: 1em;
    width: 80%;
}


/* Banner-Meio */

.banner-meio {
    height: 60vh;

    background-image: url(../imgs/Banner\ centro.svg);
    background-size: cover;

    display: flex;
    justify-content: flex-end;

    padding: 0 120px;
    color: var(--branco);
}

/* Livros */

.livros-recomendados {
    display: flex;
    flex-direction: row;
    padding: 50px 120px;

    justify-content: center;
    align-items: center;
    text-align: center;

    gap: 80px;

}


.livro img {
    height: 300px;
}

.livro-2 img {
    margin-bottom: 40px;
}



.titulo-secao {
    margin-bottom: 0px;
    padding: 70px;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.autor {
    font-weight: normal;
}

/* RODAPÉ */

.rodape {
    background-color: #26333D;
    padding: 150px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "logo topo"
        "logo baixo"
        "linha linha"
        "ultima ultima";
    row-gap: 40px;
}

.texto-redes-sociais {
    color: #2AB2AB;
    font-weight: bolder;
}

.ultima-linha {
    color: white;

}

.linha {
    grid-area: linha;
}



.textos-azul-cima {
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    align-items: center;
    gap: 280px;
    margin: 38px;

    grid-area: topo;


}

.textos-azul-cima .biblioteca p {
    color: #2AB2AB;
    font-weight: bold;
}



.textos-azul-cima .biblioteca span {
    color: white;
}

.texto-azul-logos-baixo {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: flex-end;
    margin: 50px;

    grid-area: baixo;

    gap: 250px;
}



.quem-somos p {
    font-weight: bold;
    color: #2AB2AB;
}

.quem-somos span {
    color: white;
}



.ultima-linha {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    margin-top: 50px;

    grid-area: ultima;
}

.links-legais {
    display: flex;
    flex-direction: row;

    gap: 50px;
}

.logo-bibliotec-e-senai {
    display: flex;
    ;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 100px;

    grid-area: logo;
}

/* RESPONSIVIDADE */
.botao-menu {
    display: none;
    /* Esconde o elemento */
    background: transparent;
    border: none;
    cursor: pointer;
}

.botao-menu i {
    font-size: 2em;

    color: var(--branco);
    border-radius: 10px;
}

/* RESPONSIVIDADE COM TAMANHOS -> MEDIA QUERY */

@media (max-width: 1024px) {
    html {
        font-size: 12px
    }

    .cabecalho img {
        width: 60%;
    }

    .texto-banner h1 {
        text-align: center;
    }

    /* BENEFÍCIOS */

    .beneficios {
        gap: 50px;

        padding: 30px 0;

        overflow: hidden;
    }

    .beneficios-lista {
        grid-template-columns: repeat(3, 30%);

        overflow-x: scroll;
        /* Permite que esse objeto rode */

        padding: 50px 20px;

        justify-content: flex-start;
    }

    .beneficios-lista::-webkit-scrollbar {
        display: none;
    }

    .beneficio {
        padding: 80px 10px 50px;
    }

    .beneficio h3 {
        margin-bottom: 25px;
        width: 60%;
    }

    .beneficio p {
        width: 60%;
    }

    /* BANNER MEIO */

    .banner-meio {
        background-position: center;
        padding: 0 30px;
    }

    .banner-meio .texto-banner {
        align-items: flex-end;
    }

    .banner-meio .texto-banner p {
        text-align: right;
    }

    /* LIVROS */

    .livros-recomendados {
        flex-wrap: wrap;
    }

    .livro img {
        max-width: 100%;
    }



    .livro h3 {
        font-size: 1.2em;
    }

    .livro {
        font-size: 1em;
    }


}

@media (max-width: 768px) {

    .cabecalho {
        padding: 0 40px;

        position: relative;
    }

    .botao-menu {
        /* Faz o menu hamburguer aparecer novamente */
        display: flex;
    }

    .navegacao {

        background-color: var(--azul-escuro);

        position: absolute;
        /* Distância de 10vh do topo */
        top: 10vh;

        /* Encosta na esquerda */
        left: 0;

        width: 100%;
        height: auto;

        padding: 40px;

        border-radius: 0 0 0 30px;

        flex-direction: column;
        align-items: flex-end;

        gap: 20px;

        /* Só funciona com position, quanto maior o z-index, mais para cima o elemento fica */
        z-index: 100;

        display: none;
    }

    .navegacao.ativo {
        display: flex;
    }

    /* BANNER PRINCIPAL */

    .banner-principal {
        height: 50vh;

        padding: 30px 0 10px 0;

        position: relative;
    }

    .banner-principal .texto-banner {
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: space-between;
    }

    .banner-principal .texto-banner h1 {
        font-size: 2em;
    }

    .banner-principal .texto-banner p {
        display: none;
    }

    .banner-principal img {
        width: 35%;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        z-index: 1;
    }

    .banner-principal .botao {
        padding: 20px 40px;

        font-size: 1.2em;

        z-index: 2;
    }

    /* BENEFÍCIOS */
    .beneficios-lista {
        grid-template-columns: repeat(3, 45%);
    }

    .beneficio-icone img {
        width: 40%;
    }

    /* BANNER DO MEIO */

    .banner-meio .texto-banner {
        display: none;
    }

    /* FOOTER */

    .rodape {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 160px 125px 125px 10px);
        grid-template-areas:
        "logo logo"
        "topo topo"
        "baixo baixo"
        "linha linha"
        "ultima ultima";

        height: 750px;
        padding: 50px;
    }


    .logo-bibliotec-e-senai {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: space-between;
    }

    .biblioteca {
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5em;
        line-height: 1.7;
        margin-right: 80px;
        white-space: nowrap;
    }

    .quem-somos {
        align-items: center;
        justify-content: flex-end;
        font-size: 1.5em;
        line-height: 1.7;
        white-space: nowrap;
        margin-right: -30px;
    }

    .textos-azul-cima {
        height: 50px;
    }

    .texto-redes-sociais {
        align-items: center;
        justify-content: flex-start;
        font-size: 1.5em;
        line-height: 1.7;
        margin-right: 60px;
        white-space: nowrap;
    }

    .logos {
        display: flex;
        margin-right: -30px;
        gap: 20px;
    }

    .texto-azul-logos-baixo {
        height: 10px;
    }

    .linha {
        height: 20px;
    }

    .ultima-linha {
        font-size: 1.2em;
        height: 0px;
    }

    .links-legais {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: right;
    }


     
}